/*
font-family: 'Fredericka the Great', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive;

cores{
    verde escuro: #065902
    verde claro: #078c31
    amarelo: #f2b705
    vermelho claro: #f03733
    vermelho escuro: #d90404

    cinza escuro: #404040
    cinza claro: #f7f7f7
}

*/
/*
div#teste{
    background-color:aqua;
    position: fixed;
    top:0;
    left:0;
    width: 300px;
    height: 60px;
    z-index: 10;
    color: black;
}
*/
*{
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3{
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    text-transform: uppercase;
    color: #d90404;
}

h4,h5, h6{
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: #f2b705;
}

h1{
    font-size: 600%;
    font-weight: 200;
}

h2{
    font-size: 400%;
    font-weight: 200;
}

p, li, a{
    font-family: 'Open Sans', sans-serif;
    color: #404040;
}

h2::after{
    display: block;
    background-color:  #078C31;
    height: 5px;
    width: 100px;
    margin: 40px auto 30px;
    content: " ";
}

h4{
    font-size: 150%;
    font-weight: 150;
    padding: 20px 0 ;
}

p.destaque{
    font-size: 130%;
    font-weight: 300;
    line-height: 1.8;
    text-align: center;
    width:60% ;
}

section{
    padding: 55px 0 80px;
}

/*---------*/
/*--Header-*/
/*---------*/
header{

    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0)) ,url(../_imagens/secao08-background-capa.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
    border-top:5px solid #078c31;
    clip-path: polygon(0 0, 100% 0, 100% 97%, 0 100%);
    position: relative;
}

header div#chamada{
    position: absolute;
    width: 100%;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

header div#chamada h1{
    color: #fff;
    text-shadow: 4px 6px 10px #000;

    animation-name: HeaderH1-moverParaDireita ;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

header div#chamada h4{
    font-size: 250%;
    text-shadow: 4px 6px 10px #000;
    margin-bottom: 55px;

    animation-name: HeaderH4-moverParaEsquerda; 
    animation-duration: 2s;
    animation-timing-function: ease-out;
    
}

header div#chamada a{
    color: white;
    text-decoration: none;
    background:linear-gradient(rgba(07,140,49,55) 0%,rgba(6,89,2,35) 50%, rgba(6,89,2,35) 100%);
    padding: 20px 80px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 110%;
    display: inline-block;

    animation-name: HeaderA-moverParaCima; 
    animation-duration: 1s;
    animation-fill-mode: 1s;
    animation-timing-function: ease-out;
}

nav{
    width: 95%;
    height: 150px;
   
    position: fixed; top: 0; left: 2.5%; z-index: 9999;
}

nav div{
    background-image: url(../_imagens/secao08-logo-pizzaria-fontenelle.png);
    width: 200px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    cursor: pointer;
}

nav ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: left;

    margin-top: 70px;

}

nav ul#esquerda{
    float: left;
}

nav ul#direita{
    float: right;
}

nav ul#icone-menu-mobile{
    float: right;
    display: none;
}

nav ul li{
    list-style: none;

}

nav ul li a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 100px;
    font-size: 80%;
}

nav ul li a#criar-conta{
    border: 1px solid white;
    padding: 9px 29px;
}

nav ul li a:hover{
    background-color: #f2b705;
    transition-duration: 0.6s;
}

nav ion-icon{
    width: 45px;
    height: 45px;
    color: white;
    margin-top: -10px;
    margin-left: 20px;

}

nav ion-icon:hover{
    color:#f2b705;
    cursor: pointer;
}

.navEstatico{
    width: 100%;
    background-color: rgba(247,247,247,0.98);
    height: 55px;
    left: 0;
    box-shadow:  0 1px 10px #333;
    transition-duration: 0.8s;
}

.logoEstatico{
    height: 55px;
    width: 75px;
    margin-left: 0px;
    background-color: #065902;
    transition-duration: 0.8s;
}

.logoEstatico:hover{
    background-color: #078c31;
}

.menuEstatico{
    margin-top: 15px;
}

.itemEstatico{
    color: #404040;
    border-radius: 0;
    padding: 19px 29px;
}

.iconeEstatico{
    color: #404040;
    margin-right: 15px;
}
/*--------------------*/
/*--Domingo perfeito-*/
/*-------------------*/
section#domingo-perfeito{
    width: 100%;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

div#domingo-perfeito-esquerda, div#domingo-perfeito-direita { 
    position: relative;
    width: 15%;
}

div#domingo-perfeito-centro{
    width: 65%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

}

div#pontos-chaves-mestre{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 40px;

}

div.pontos-chaves{

    text-align: center;
    width: 25%;
}

div.pontos-chaves h4{
    color: #404040
}

div.pontos-chaves h4:after{
    background-color: #078C31;
    display: block;
    height: 5px;
    width: 30%;
    margin: 20px auto 10px;
    content: " ";
}

section#domingo-perfeito div.pontos-chaves ion-icon{
    width: 75px;
    height: 75px;
    color: #d90404;
}

div.folha1{
    position: absolute;
    top: 40px;
    left: 40px;
    width:150px;
    height: 150px;
    background-image: url(../_imagens/secao09-folha1.png);
    background-repeat: no-repeat;
    opacity: 0;

}

div.camarao{
    position: absolute;
    top: 250px;
    left: 0;
    width:150px;
    height: 150px;
    background-image: url(../_imagens/secao09-camarao.jpg);
    background-repeat: no-repeat;
    opacity: 0;
}

div.folha2{
    position: absolute;
    top: 500px;
    left: 50px;
    width:150px;
    height: 150px;
    background-image: url(../_imagens/secao09-folha2.png);
    background-repeat: no-repeat;
    opacity: 0;
}

div.folha3{
    position: absolute;
    top: 100px;
    left: 20px;
    width:160px;
    height: 150px;
    background-image: url(../_imagens/secao09-folha3.png);
    background-repeat: no-repeat;
    opacity: 0;
}

div.tomate{
    position: absolute;
    top: 300px;
    left: 100px;
    width:150px;
    height: 150px;
    background-image: url(../_imagens/secao09-tomate.png);
    background-repeat: no-repeat;
    opacity: 0;
}

div.queijo{
    position: absolute;
    top: 600px;
    left: 10px;
    width:150px;
    height: 150px;
    background-image: url(../_imagens/secao09-queijo.jpg);
    background-repeat: no-repeat;
    opacity: 0;
}

/*--------------------*/
/*--Pizza-*/
/*-------------------*/

section#pizza{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.4)), url(../_imagens/secao10-background-secao-pizza.jpg);
    
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
}

section#pizza p.destaque{
    color: #fff;
    width: 40%;
    opacity: 0;
}

div#pizza-opcoes-mestre{
    width: 80%;
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
}

div.pizza-opcoes{
    width: 33.3%;
    text-align: center;
    padding: 5px 0;
    opacity: 0;
}

section#pizza ul li{
    color: white;
    line-height: 1.9;
    font-size: 90% ;
    list-style: none;
    text-transform: uppercase;
}

/*--------------------*/
/*--depoimentos-*/
/*-------------------*/

section#testemunho{
    width: 100%;
    
    background-image:linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0.8),rgba(255,255,255,1)), url(../_imagens/secao11-background-secao-depoimento.png);
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    
}

div#testemunho-mestre{
    width:100%;
    height: 300px;
    
    margin-top: 90px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

section#testemunho p.destaque{
    width: 40%;
    background-color: #fff;
}

div#testemunho-esquerda, div#testemunho-direita{
    width: 15%;
    height: 300px;
    cursor: pointer;
}

div#testemunho-centro{
    width: 70%;
    margin: 0 auto;
    height: 300px;
    position: relative;

    max-width: 1010px;
    overflow: hidden;
}

div#testemunho-mestre ion-icon{
    width: 90%;
    height: 90%;
    color: #F03733;
}

div#testemunho-esquerda ion-icon{
    opacity: 0.5;   
}

div#testemunhos{
    position: absolute;
    left:0;
    width:4680px;

}

section#testemunho div#testemunho-centro div#testemunhos ul{
    display: inline-table;
    width: 300px;
    background: #fff;
    padding:30px;
    margin:50px 15px;
    border-radius: 20px;
    border:1px solid #ccc;

    text-align: center;
}

section#testemunho div#testemunho-centro div#testemunhos ul li{
    list-style:none;
    display: inline-table;
    width: 90%;
    margin:0;
}   

section#testemunho div#testemunho-centro div#testemunhos ul p{
    line-height: 1.5;
    color:#404040;
    font-size: 90%;
}

section#testemunho div#testemunho-centro div#testemunhos ul h5{
    font-size: 140%;
}

section#testemunho div#testemunho-centro div#testemunhos ul img{
    width:40%;
    border-radius:100%;
    margin-top:-80px;
    margin-bottom:20px;
    border:5px solid #F03733;
}

/*--------------------*/
/*--transição-*/
/*-------------------*/

div#transicao-testemunho-plano{
    width: 100%;
    height: 280px;
    
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  
}

div#transicao-testemunho-plano div#decoracao1{
    width:  30%;
    height: 100%;
    background-image: url(../_imagens/secao13-tomate-manjericao-alho.jpg);
    background-repeat: no-repeat;
    background-position: top;
    opacity: 0;

}

div#transicao-testemunho-plano div#decoracao3{
    width:  30%;
    height: 100%;
    background-image: url(../_imagens/secao13-detalhe-tomate.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 0;
}

div#transicao-testemunho-plano div#decoracao2{
    width:  30%;
    height: 100%;
    background-image: url(../_imagens/secao13-azeite.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    opacity: 0;
}

/*--------------------*/
/*--Planos-*/
/*-------------------*/

section#plano-principal{
    width: 100%;
    
}

div#planos-janela{
    width:  80%;
    margin: 30px auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: center ;
}

div.planos{
    width: 250px;
    height: 350px;
    margin: 80px 30px;
    opacity: 0;
}

div.planos-top{
    width: 100%;
    height: 350px;
    background-color: #F7F7F7;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    text-align: center;
    box-shadow: 2px 2px 3px #ccc;
}

div.planos-bottom{
    width: 100%;
    height: 100px;
    background-color: #078c31;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 2px 2px 3px #ccc;

    cursor: pointer;
   
}

section#plano-principal h4{
    color: #d90404;
}

section#plano-principal ul{
    margin-top: 25px ;
}

section#plano-principal ul li{
    font-size: 85%;
    text-align: left;
    margin-left: 30px;
    line-height: 2;
    text-decoration: none;
}

section#plano-principal div.planos-bottom p{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    padding: 35px;
}

/*--------------------*/
/*--rodape-*/
/*-------------------*/

div#transicao-plano-rodape{
    width: 100%;
    height: 36px;
    background-image: linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0.5)), url(../_imagens/secao15-mesa-xadrez-clara.png);
    background-repeat: repeat-x;
    margin-top: 100px;
}

footer{
    width: 100%;
    height: 500px;
    background-image: url(../_imagens/secao15-mesa-xadrez.png);
    background-repeat: repeat;
    padding-top: 36px;
    padding-left: 36px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-bottom: 10px solid #F03733;
}

footer div#mapa{
    width: 35%;
    height: 390px;
    background-color: rgba(255,255,255,1);
    box-shadow: 0 3px 10px #404040;
    opacity: 0;
}

footer div#info{
    width: 30%;
    height: 390px;
    background-color: #F03733;
    box-shadow: 0 3px 10px #404040;
    opacity: 0;
}

footer div#info li{
    list-style: none;
    color: #fff;
    margin-bottom: 5px;
}

footer div#info ul{
    margin-left: 15px;
    margin-bottom: 150px;
    margin-bottom: 120px;
}

footer div#redes-sociais{
    margin-left: 15px;
    width: 80%;
    height: 70px;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

footer div#redes-sociais ion-icon{
    color: #fff;
    height: 100%;
    width: 12%;
    cursor: pointer;

}

footer div#redes-sociais ion-icon:hover{
    color: #f2b705;   
}

footer div#pizza-rodape{
    width: 300px;
    height: 390px;
    margin-top:-100px;
    background-image: url(../_imagens/secao15-pizza-rodape.png);
    opacity: 0;

}


